body {
    height: 100vh;
}

footer{
    background-color: #1F2937;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #E5E7EB;
    font-size: 22px;
    padding: 30px;
}
