body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    justify-content: center;
    align-items: center;
    gap: 40px;
    background-color: rgb(14, 14, 39);
}

h1{
    color: white;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 300px;
    width: 300px;
}
.board {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3,1fr);
}

.cell {
    height: 100px;
    width: 100px;
    border-radius: 8px;
    border: 2px rgb(137, 137, 137) solid;
    font-size: larger;
    background-color: rgba(61, 61, 61, 0.393);
    color: white;
}

